$bfi-sm: 500px;
$bfi-md: 768px;
$bfi-lg: 1024px;
$bfi-xl: 1440px;

$link: #069456;
$white: #fff;

.card {
  flex: 0 0 100%;
  padding: 1rem;
  box-sizing: border-box;

  @media screen and (min-width: $bfi-md) {
    flex: 0 0 50%;
  }

  @media screen and (min-width: $bfi-lg) {
    flex: 0 0 33.3%;
  }

  @media screen and (min-width: $bfi-xl) {
    flex: 0 0 25%;
  }
  
  &__wrapper {
    background: #ccc;
    border-radius: 0.5rem;
    height: 100%;
  }

  &__image {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 62.5%;
    }

    img {
      display: block;
      object-fit: cover;
      width:100%;
      height:100%;
      border-radius: 0.5rem;
    }
  }

  &__image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  &__content {
    padding: 1rem;

    h3{
      margin: 0 0 1rem;

      a {
        color: $link;
        font-size: 1.5rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: darken($link, 10%);
        }
      }
    }

    p {
      margin: 0 0 1rem;
    }
  }

  &__content-type {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__content-created {
    font-style: italic;
  }
}

ul.authors {
  margin: 0 0 1rem;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    text-decoration: underline;
    color: $link;
    font-weight: bold;;

    &:hover {
      color: darken($link, 10%);
    }
  }
}
