$link: #069456;
$white: #fff;

.types-list {
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0.5rem;
    padding: 0;

    li {
      list-style: none;
      margin: 0.5rem;

      button {
        display: inline-block;
        text-decoration: none;
        padding: 0.75rem 1.5rem;
        background: $link;
        color: $white;
        border: none;
        font-weight: bold;
        border-radius: .25rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background: darken($link, 10%);
        }

        &:focus {
          background: #282c34;
          color: #fff;
          outline: none;
        }
      }
    }
  }
}